
/* Initial Page Login */

.homeLogin {
    background-color:white;
}
body {
    background-color: white;
}
.loginForm{
    margin-top: 3cm;
    background-color: white;
}
label {
    color: black;
}

#homeNavBar{
    color: black;
}

#navTitle{
    font-size: 27px;
}

#titleName{
    margin-top: 2cm;
    font-family: 'Poppins', sans-serif;
}
#description{
    font-family: 'Poppins', sans-serif;
}

#navTitle{
    font-family: 'Poppins', sans-serif;
}

.homeLogin{
    background-color: white;
}


/* Homepage */

.mainContainer{
    background-color:white;
}

.profileContainer {
    background-color:white;
}
.welcomeName{
    padding-left: 9cm;
}
.employee-name{
    font-family: 'Poppins', sans-serif; 
}
.icon{
    margin-left: 6cm;
    margin-bottom: 5px;
}
.tasksName{
    font-family: 'Poppins', sans-serif; 
}
.taskCard{
    margin-left: 1cm;
}